# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter: 
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
#### Obs: Posso usar o método describe() para resolver isso, o qual considera apenas variáveis numéricas

3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferença:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante
  
## Não se esqueca assim de acabar de realizar o projeto responder:  
https://forms.gle/JRtrHrrSdoq65yDm8

In [3]:
import pandas as pd
import numpy as np
import cProfile

#### Etapa 1 : Juntando os Data Frames

In [6]:
#Alimentando o DataFrama a partir dos arquivos csv disponibilizados pelo Kuma
df_demografico = pd.read_csv('1_demografico.csv', sep =';')

df_renda_gastos = pd.read_csv('2_renda_gastos.csv', sep =';')

df_bens = pd.read_csv('3_bens.csv', sep =';')

In [7]:
df_demografico.head(10)

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1
5,6,A,Wage/Salaries,0,Male,46,Married,Worked for private establishment,Single Family,4,0,0,3,Single house,Strong,40,7,2,1
6,7,A,Wage/Salaries,0,Male,45,Married,Employer in own family-operated farm or business,Extended Family,5,1,0,1,Single house,Strong,35,18,1,1
7,8,A,Other sources of Income,1,Male,33,Married,Employer in own family-operated farm or business,Extended Family,5,1,1,0,Single house,Strong,35,48,2,1
8,9,A,Other sources of Income,0,Female,17,Single,NaN,Single Family,2,0,2,0,Single house,Light,35,8,1,1
9,10,A,Enterpreneurial Activities,0,Male,53,Married,Self-employed wihout any employee,Extended Family,6,0,0,1,Single house,Strong,70,12,3,1

In [8]:
df_renda_gastos.head(10)

,ID,Region,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,...,Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites
0,1,A,480332,117848,42140,38300,24676,16806,3325,13460,...,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370
1,2,A,198235,67766,17329,13008,17434,11073,2035,7833,...,41370,27000,3520,12900,5700,29300,9150,1500,0,0
2,3,A,82785,61609,34182,32001,7783,2590,1730,3795,...,14340,7200,70,324,420,425,6450,500,0,0
3,4,A,107589,78189,34030,28659,10914,10812,690,7887,...,16638,6600,60,6840,660,300,3762,500,15580,15580
4,5,A,189322,94625,34820,30167,18391,11309,1395,11260,...,31122,16800,140,6996,2100,0,8472,1000,18887,75687
5,6,A,152883,73326,29065,25190,15336,8572,2614,9035,...,22782,6600,95,4044,1500,0,5394,600,0,0
6,7,A,198621,104644,40992,36312,12968,12310,2565,15620,...,24126,12000,340,12696,1848,0,6126,6400,72290,72290
7,8,A,134961,95644,37168,28156,14640,15896,3365,10520,...,40776,19800,75,4140,3000,50,5562,1500,51840,51840
8,9,A,171152,67348,23117,15845,11464,6685,1370,5235,...,8370,4200,200,7200,1800,8000,6510,500,0,0
9,10,A,625753,158721,56003,43239,26488,25678,3880,11360,...,65730,27000,1786,5160,7200,13180,15210,4000,0,312974

In [9]:
df_bens.head(10)

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,1,0,1,1,0,0,0,2,1,0,0,1
1,1,1,1,0,1,0,0,0,3,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,3,0,0,0,1
5,1,0,0,0,1,0,0,0,4,0,0,0,1
6,1,0,1,0,0,0,0,0,2,0,0,0,1
7,1,1,0,0,1,0,0,0,2,0,0,0,1
8,1,0,0,0,0,0,0,0,2,0,0,0,0
9,1,0,1,1,0,0,1,0,4,1,0,0,0

In [10]:
merge_demo_gastos = pd.merge(df_demografico, df_renda_gastos)

In [11]:
data_frame_total = pd.concat([merge_demo_gastos,df_bens], axis = 1)

data_frame_total

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,1,0,0,0,0,0,0,1,0,1

#### Etapa 2 : Relatório das variáveis quantitativas

In [12]:
statistics = data_frame_total.describe()

In [13]:
statistics.drop(labels = ['count', 'std'], inplace = True)

In [14]:
statistics.rename(index = {'50%' : 'median'})

,ID,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
mean,1341.966638,0.429858,51.381451,4.635182,0.410216,1.362579,1.272699,55.60336,20.125505,1.788008,...,0.394184,0.319806,0.129814,0.081215,0.06061,1.905738,0.315015,0.135038,0.013119,0.289885
min,1.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,5.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,611.000000,0.000000,41.000000,3.000000,0.000000,0.000000,0.000000,25.00000,10.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000
median,1222.000000,0.000000,51.000000,4.000000,0.000000,1.000000,1.000000,40.00000,17.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1894.000000,1.000000,61.000000,6.000000,1.000000,2.000000,2.000000,70.00000,26.000000,2.000000,...,1.000000,1.000000,0.000000,0.000000,0.00000,3.000000,0.000000,0.000000,0.000000,0.000000
max,4162.000000,2.000000,99.000000,26.000000,5.000000,8.000000,8.000000,998.00000,200.000000,9.000000,...,5.000000,3.000000,5.000000,5.000000,4.00000,10.000000,6.000000,3.000000,3.000000,5.000000

#### Etapa 3 : Tratamento de Outliers

Estabelecendo os limites inferior e superior para posterior tratamento de outliers

In [19]:
lim_min = data_frame_total.quantile(0.25) - 1.5*(data_frame_total.quantile(0.75) - data_frame_total.quantile(0.25))
print(lim_min)

lim_max = data_frame_total.quantile(0.75) + 1.5*(data_frame_total.quantile(0.75) - data_frame_total.quantile(0.25))
print(lim_max)

ID                                                -1313.500
Agricultural Household indicator                     -1.500
Household Head Age                                   11.000
Total Number of Family members                       -1.500
Members with age less than 5 year old                -1.500
Members with age 5 - 17 years old                    -3.000
Total number of family members employed              -3.000
House Floor Area                                    -42.500
House Age                                           -14.000
Number of bedrooms                                   -0.500
Electricity                                           1.000
Total Household Income                          -174470.250
Total Food Expenditure                           -30910.125
Bread and Cereals Expenditure                     -5768.500
Total Rice Expenditure                            -8330.000
Meat Expenditure                                 -13053.625
Total Fish and  marine products Expenditure       -6322.000
Fruit Expenditure                                 -2088.125
Vegetables Expenditure                            -2273.875
Restaurant and hotels Expenditure                -25056.875
Alcoholic Beverages Expenditure                   -1948.875
Tobacco Expenditure                               -4719.750
Clothing, Footwear and Other Wear Expenditure     -4957.500
Housing and water Expenditure                    -36222.000
Imputed House Rental Value                       -21000.000
Medical Care Expenditure                          -6270.000
Transportation Expenditure                       -14634.000
Communication Expenditure                         -4440.000
Education Expenditure                             -6090.000
Miscellaneous Goods and Services Expenditure     -11751.000
Special Occasions Expenditure                     -7500.000
Crop Farming and Gardening expenses               -9469.125
Total Income from Entrepreneurial Acitivites     -98953.125
Number of Television                                 -1.500
Number of CD/VCD/DVD                                 -1.500
Number of Component/Stereo set                        0.000
Number of Refrigerator/Freezer                       -1.500
Number of Washing Machine                            -1.500
Number of Airconditioner                              0.000
Number of Car, Jeep, Van                              0.000
Number of Landline/wireless telephones                0.000
Number of Cellular phone                             -2.000
Number of Personal Computer                           0.000
Number of Stove with Oven/Gas Range                   0.000
Number of Motorized Banca                             0.000
Number of Motorcycle/Tricycle                         0.000
dtype: float64
ID                                                 3818.500
Agricultural Household indicator                      2.500
Household Head Age                                   91.000
Total Number of Family members                       10.500
Members with age less than 5 year old                 2.500
Members with age 5 - 17 years old                     5.000
Total number of family members employed               5.000
House Floor Area                                    137.500
House Age                                            50.000
Number of bedrooms                                    3.500
Electricity                                           1.000
Total Household Income                           570503.750
Total Food Expenditure                           187562.875
Bread and Cereals Expenditure                     53763.500
Total Rice Expenditure                            43270.000
Meat Expenditure                                  30699.375
Total Fish and  marine products Expenditure       25214.000
Fruit Expenditure                                  6212.875
Vegetables Expenditure                            11451.125
Restaurant and hotels Expenditure                 46908.125
Alcoholic Beverages Expenditure                    3248.125
Tobacco Expenditure                                7866.250
Clothing, Footwear and Other Wear Expenditure     11902.500
Housing and water Expenditure                     95250.000
Imputed House Rental Value                        51000.000
Medical Care Expenditure                          11250.000
Transportation Expenditure                        30822.000
Communication Expenditure                          8904.000
Education Expenditure                             10150.000
Miscellaneous Goods and Services Expenditure      29697.000
Special Occasions Expenditure                     12500.000
Crop Farming and Gardening expenses               15781.875
Total Income from Entrepreneurial Acitivites     164921.875
Number of Television                                  2.500
Number of CD/VCD/DVD                                  2.500
Number of Component/Stereo set                        0.000
Number of Refrigerator/Freezer                        2.500
Number of Washing Machine                             2.500
Number of Airconditioner                              0.000
Number of Car, Jeep, Van                              0.000
Number of Landline/wireless telephones                0.000
Number of Cellular phone                              6.000
Number of Personal Computer                           0.000
Number of Stove with Oven/Gas Range                   0.000
Number of Motorized Banca                             0.000
Number of Motorcycle/Tricycle                         0.000
dtype: float64

In [17]:
df_filtrado_total = data_frame_total[(data_frame_total <= lim_max) & (data_frame_total >= lim_min)].drop(columns = ['ID'])

df_filtrado_total = df_filtrado_total.select_dtypes(include = ['number'])

df_filtrado_total.head()

C:\Users\pjl_m\AppData\Local\Temp/ipykernel_9492/638366808.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df_filtrado_total = data_frame_total[(data_frame_total <= lim_max) & (data_frame_total >= lim_min)].drop(columns = ['ID'])

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,0,49.0,4.0,0.0,1.0,1.0,80.0,NaN,3.0,1.0,...,1.0,1.0,0.0,0.0,0.0,2.0,NaN,0.0,0.0,NaN
1,0,40.0,3.0,0.0,1.0,2.0,42.0,15.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,3.0,NaN,0.0,0.0,NaN
2,1,39.0,6.0,0.0,4.0,3.0,35.0,12.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,52.0,3.0,0.0,3.0,2.0,30.0,15.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,65.0,4.0,0.0,0.0,2.0,54.0,16.0,3.0,1.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN

Geração do relatório com os outliers retirados

In [18]:
df_filtrado_total.describe().T

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0
Household Head Age,41476.0,51.314278,14.067675,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,41383.0,1.252930,1.106062,0.0,0.00,1.0,2.00,5.0
House Floor Area,38997.0,45.176834,28.071511,5.0,24.00,40.0,60.00,136.0
House Age,39961.0,18.441981,11.521568,0.0,10.00,16.0,25.00,50.0
Number of bedrooms,38928.0,1.610049,0.868207,0.0,1.00,2.0,2.00,3.0
Electricity,37008.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
Total Household Income,38393.0,189885.704556,120551.516456,11285.0,101150.00,153175.0,250795.00,570492.0
Total Food Expenditure,39695.0,77789.375916,37316.995001,2947.0,49957.50,70885.0,99962.50,187504.0
Bread and Cereals Expenditure,40520.0,24035.446224,10380.466363,0.0,16373.75,22989.5,30732.25,53758.0
Total Rice Expenditure,40545.0,17296.558959,9117.539107,0.0,10880.00,16290.0,23332.00,43260.0
Meat Expenditure,39420.0,8855.653907,7143.494113,0.0,3181.75,6810.0,12900.00,30696.0
Total Fish and marine products Expenditure,39666.0,9381.854687,5310.160214,0.0,5376.00,8374.0,12539.75,25200.0
Fruit Expenditure,38711.0,2011.625507,1350.383941,0.0,975.00,1691.0,2740.50,6212.0
Vegetables Expenditure,39828.0,4558.640780,2361.458774,0.0,2810.00,4185.0,5980.00,11450.0
Restaurant and hotels Expenditure,38451.0,10464.450001,11275.061923,0.0,1668.00,6204.0,15931.00,46900.0
Alcoholic Beverages Expenditure,37839.0,576.789979,797.736712,0.0,0.00,170.0,942.50,3248.0
Tobacco Expenditure,37931.0,1335.506815,2017.484244,0.0,0.00,0.0,2080.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",37780.0,3235.638301,2648.092922,0.0,1260.00,2435.0,4515.00,11900.0
Housing and water Expenditure,38590.0,28434.724851,20944.863654,1950.0,12577.50,21102.0,39004.50,95250.0
Imputed House Rental Value,38165.0,13555.664876,11659.407904,0.0,5400.00,9000.0,18000.00,51000.0
Medical Care Expenditure,36131.0,1918.836262,2493.490102,0.0,245.00,800.0,2590.50,11250.0
Transportation Expenditure,38122.0,7680.944966,7067.026467,0.0,2220.00,5304.0,11124.00,30822.0
Communication Expenditure,36318.0,1880.531637,1963.042881,0.0,480.00,1200.0,2616.00,8904.0
Education Expenditure,34327.0,1303.191307,2030.443120,0.0,0.00,510.0,1600.00,10150.0
Miscellaneous Goods and Services Expenditure,37589.0,8265.863790,6482.916646,0.0,3564.00,6084.0,11100.00,29688.0
Special Occasions Expenditure,37343.0,2329.450125,2982.668813,0.0,0.00,1000.0,3500.00,12500.0
Crop Farming and Gardening expenses,33247.0,843.744789,2808.008389,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,38884.0,32419.743648,40373.838461,0.0,0.00,14828.5,54426.25,164918.0
Number of Television,40761.0,0.809573,0.546958,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,41356.0,0.422841,0.529547,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,35058.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,41440.0,0.386559,0.514392,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,41533.0,0.319096,0.476553,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,37457.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",38876.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,39302.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,41034.0,1.831481,1.412590,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,32988.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,36101.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,41055.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,31282.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0

Talvez seja interessante separar em dois DataFrames, um que tenha só variáveis qualitativas e outro com variáveis quantitativas

**Obs**: Conversei com o Henrique e vou usar "select_dtypes()", faz mais sentido.

#### Etapa 4 : Tratar os outliers e colocar a mediana no lugar, gerando o relatório de novo

In [20]:
df_filtrado_total.fillna(data_frame_total.median(), inplace=True)

C:\Users\pjl_m\AppData\Local\Temp/ipykernel_9492/3197448070.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_filtrado_total.fillna(data_frame_total.median(), inplace=True)

In [21]:
df_filtrado_total

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,0,49.0,4.0,0.0,1.0,1.0,80.0,17.0,3.0,1.0,...,1.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
1,0,40.0,3.0,0.0,1.0,2.0,42.0,15.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
2,1,39.0,6.0,0.0,4.0,3.0,35.0,12.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,52.0,3.0,0.0,3.0,2.0,30.0,15.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,65.0,4.0,0.0,0.0,2.0,54.0,16.0,3.0,1.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,2,62.0,6.0,0.0,2.0,0.0,25.0,18.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41540,2,55.0,5.0,1.0,1.0,2.0,40.0,19.0,2.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41541,2,51.0,7.0,0.0,3.0,0.0,40.0,22.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
41542,2,30.0,4.0,2.0,1.0,1.0,20.0,35.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41543,2,42.0,5.0,0.0,1.0,0.0,43.0,35.0,2.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df_filtrado_total.describe().T

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.00,1.00,2.0
Household Head Age,41544.0,51.313764,14.056162,13.0,41.00,51.00,61.00,91.0
Total Number of Family members,41544.0,4.502889,2.052225,1.0,3.00,4.00,6.00,10.0
Members with age less than 5 year old,41544.0,0.365468,0.610827,0.0,0.00,0.00,1.00,2.0
Members with age 5 - 17 years old,41544.0,1.307072,1.312054,0.0,0.00,1.00,2.00,5.0
Total number of family members employed,41544.0,1.251950,1.104028,0.0,0.00,1.00,2.00,5.0
House Floor Area,41544.0,44.859450,27.225709,5.0,25.00,40.00,60.00,136.0
House Age,41544.0,18.387035,11.303293,0.0,10.00,17.00,25.00,50.0
Number of bedrooms,41544.0,1.634604,0.845748,0.0,1.00,2.00,2.00,3.0
Electricity,41544.0,1.000000,0.000000,1.0,1.00,1.00,1.00,1.0
Total Household Income,41544.0,187928.373760,116090.737303,11285.0,104895.00,164079.25,238776.75,570492.0
Total Food Expenditure,41544.0,77575.569673,36490.538625,2947.0,51017.25,72985.25,98095.00,187504.0
Bread and Cereals Expenditure,41544.0,24017.910095,10252.326723,0.0,16556.00,23324.00,30510.00,53758.0
Total Rice Expenditure,41544.0,17280.289885,9007.841884,0.0,11020.00,16620.00,23130.00,43260.0
Meat Expenditure,41544.0,8777.780353,6966.565594,0.0,3353.75,7332.25,12446.25,30696.0
Total Fish and marine products Expenditure,41544.0,9350.805363,5190.708010,0.0,5504.00,8695.00,12285.25,25200.0
Fruit Expenditure,41544.0,1998.558035,1304.421384,0.0,1024.75,1820.00,2640.00,6212.0
Vegetables Expenditure,41544.0,4548.535745,2312.684990,0.0,2873.00,4314.00,5885.00,11450.0
Restaurant and hotels Expenditure,41544.0,10229.895268,10878.694303,0.0,1930.00,7314.00,14822.50,46900.0
Alcoholic Beverages Expenditure,41544.0,549.429665,766.337801,0.0,0.00,270.00,840.00,3248.0
Tobacco Expenditure,41544.0,1245.450823,1949.717598,0.0,0.00,300.00,1810.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",41544.0,3190.732115,2529.284427,0.0,1365.00,2740.00,4204.25,11900.0
Housing and water Expenditure,41544.0,28047.718082,20234.875805,1950.0,13080.00,22992.00,37080.00,95250.0
Imputed House Rental Value,41544.0,13331.531629,11200.538089,0.0,6000.00,10800.00,18000.00,51000.0
Medical Care Expenditure,41544.0,1815.402898,2340.678084,0.0,300.00,1125.00,2150.00,11250.0
Transportation Expenditure,41544.0,7545.450029,6784.797217,0.0,2412.00,6036.00,10404.00,30822.0
Communication Expenditure,41544.0,1833.417678,1839.619204,0.0,564.00,1506.00,2340.00,8904.0
Education Expenditure,41544.0,1229.674754,1852.618838,0.0,0.00,880.00,1290.00,10150.0
Miscellaneous Goods and Services Expenditure,41544.0,8126.693963,6181.512654,0.0,3792.00,6804.00,10320.00,29688.0
Special Occasions Expenditure,41544.0,2245.574716,2838.876211,0.0,0.00,1500.00,3000.00,12500.0
Crop Farming and Gardening expenses,41544.0,675.235485,2534.544690,0.0,0.00,0.00,0.00,15780.0
Total Income from Entrepreneurial Acitivites,41544.0,31574.711920,39193.284516,0.0,0.00,19218.00,51030.50,164918.0
Number of Television,41544.0,0.813162,0.542398,0.0,0.00,1.00,1.00,2.0
Number of CD/VCD/DVD,41544.0,0.420927,0.529109,0.0,0.00,0.00,1.00,2.0
Number of Component/Stereo set,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Refrigerator/Freezer,41544.0,0.385591,0.514111,0.0,0.00,0.00,1.00,2.0
Number of Washing Machine,41544.0,0.319011,0.476518,0.0,0.00,0.00,1.00,2.0
Number of Airconditioner,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
"Number of Car, Jeep, Van",41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Landline/wireless telephones,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Cellular phone,41544.0,1.833550,1.404015,0.0,1.00,2.00,3.00,6.0
Number of Personal Computer,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Stove with Oven/Gas Range,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Motorized Banca,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0
Number of Motorcycle/Tricycle,41544.0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.0

#### Etapa 5 : Relatório com variáveis qualitativas

In [23]:
qualitativas = data_frame_total.select_dtypes(exclude = np.number)

qualitativas.head()

,Region,Main Source of Income,Household Head Sex,Household Head Marital Status,Household Head Class of Worker,Type of Household,Type of Building/House,Type of Walls
0,A,Wage/Salaries,Female,Single,Worked for government/government corporation,Extended Family,Single house,Strong
1,A,Wage/Salaries,Male,Married,Worked for private establishment,Single Family,Single house,Strong
2,A,Wage/Salaries,Male,Married,Worked for private establishment,Single Family,Single house,Light
3,A,Wage/Salaries,Male,Married,Employer in own family-operated farm or business,Single Family,Single house,Light
4,A,Wage/Salaries,Male,Married,Self-employed wihout any employee,Single Family,Single house,Quite Strong

Preciso arrumar conforme o pessoal mostrou

In [24]:
relatorio_qualitativas = pd.DataFrame({
    'Freq Abs' : qualitativas.count(),
    'Freq Abs Acum' : qualitativas.count().cumsum(),
    'Freq Rel (%)' : (qualitativas.count()/qualitativas.size)*100,
    'Freq Rel Acum' : (qualitativas.count()/qualitativas.size).cumsum()
})

relatorio_qualitativas

,Freq Abs,Freq Abs Acum,Freq Rel (%),Freq Rel Acum
Region,41544,41544,12.500000,0.125000
Main Source of Income,41544,83088,12.500000,0.250000
Household Head Sex,41544,124632,12.500000,0.375000
Household Head Marital Status,41544,166176,12.500000,0.500000
Household Head Class of Worker,34008,200184,10.232525,0.602325
Type of Household,41544,241728,12.500000,0.727325
Type of Building/House,41544,283272,12.500000,0.852325
Type of Walls,41544,324816,12.500000,0.977325

#### Etapa 6 : Separar os 10% com maior renda (Ordem decrescente) e salvar em um novo csv

Vou usar esse porque foi minha ideia, mas acho a do Henrique mais válida para o código da equipe

In [27]:
renda_10_porc = round(0.1*data_frame_total.shape[0]) # O round apresentou-se como um gargalo 

maior_renda_10_porc_total = data_frame_total.nlargest(renda_10_porc,'Total Household Income')
    
maior_renda_10_porc = data_frame_total.nlargest(renda_10_porc,'Total Household Income')\
[['Total Household Income']]

In [ ]:
# def Henrique() : 

#     quantile_renda_90_porc = data_frame_total['Total Household Income'].quantile(0.90)

#     maior_renda = data_frame_total['Total Household Income'] > quantile_renda_90_porc

#     data_frame_total[maior_renda].loc[:, 'Total Household Income'].sort_values(ascending = False)\
#     .reset_index()
    
# cProfile.run('Henrique()')

#### Etapa 7 : Criar os dummies para pelo menos 3 das variáveis qualitativas

In [ ]:
dummies_qual_total = pd.get_dummies(qualitativas[['Household Head Sex', 'Main Source of Income',\
                             'Household Head Class of Worker']])

dummies_qual_total

#### Etapa 8: Comparar a média das variáveis (Quantitativos + 3 Qualitativas) da população dos 10% com maior renda vs o restante.

In [ ]:
maior_renda_10_porc_quant =  maior_renda_10_porc_total.select_dtypes(include = np.number)

maior_renda_10_porc_quant

In [ ]:
maior_renda_10_porc_quant.mean()

data_frame_total.mean()

pd.concat([data_frame_total.mean().to_frame('Total'), maior_renda_10_porc_quant.mean().to_frame('10% maior renda')], axis = 1)

In [ ]:
maior_renda_10_porc_qual =  maior_renda_10_porc_total.select_dtypes(exclude = np.number)

dummies_qual_10_porc = pd.get_dummies\
                       (maior_renda_10_porc_qual[['Household Head Sex', 'Main Source of Income',\
                       'Household Head Class of Worker']])

In [ ]:
dummies_qual_10_porc.mean()

dummies_qual_total.mean()

pd.concat([dummies_qual_total.mean().to_frame('Total'), dummies_qual_10_porc.mean()\
           .to_frame('10% maior renda')], axis = 1)